[2018-12-19 08:26] postatum opened #1 "Add examples of constructing API from scratch"
- [x] JS: Add examples of creating RAML or OAS from scratch (without parsing anything)
- [x] Java: Add examples of creating RAML or OAS from scratch (without parsing anything)
- [x] JS: Add examples of navigating the AMF Model
- [x] Java: Add examples of navigating the AMF Model
- [x] Add examples in docs as well.

Note: properties access and API construction examples in docs should showcase acces

[2018-12-19 08:27] postatum opened #2 "Rename "AMF Model""
Rename to "Parsed Model Interface" across all the project.

[2018-12-19 08:30] postatum opened #3 "Improve docs"
- [x] Add description of arguments
- [x] Add comments in examples
- [x] Add description of resolution process and results
- [x] Add new docs (including API construction and navigation) to `gh-pages`

[2019-01-08 18:34] jstoiko opened #4 "Expose RAML DT <> JSON Schema method(s)"
AnyShape has a [`toJsonSchema()` method](https://github.com/aml-org/amf/blob/ad634f1f78cb2b6231d02a6438cf06130216dd84/amf-webapi/shared/src/main/scala/amf/client/model/domain/AnyShape.scala#L43). Also see [corresponding tests](https://github.com/aml-org/amf/blob/19764f827797c7d3d57aff77c6b61a2ccb5e355c/amf-client/shared/src/test/scala/amf/emit/ShapeToJsonSchemaTest.scala#L83-L98).

[2019-02-09 11:47] postatum opened #8 "Fix AMF Graph string parsing Java example"
It can't parse the string saying that it `can't be parsed with vendor AMF Graph`.
The issues is most likely in the string itself.
I think it happened after updating to AMF 3.1.6.

`/examples/java/src/main/java/co/acme/parse/AmfGraphParsing.java > AmfGraphParsing.parseString()`

[2019-02-12 18:17] postatum opened #9 "Do not mangle classes names in WebApi Model"
Find a way to not mangle names of classes when building JS from Scala with `fullOptJS`.
Also note how `.js` file size changes.

This should make easier for users to explore/navigate AMF model.

Ideal solution should:
1. Leave names exported from Scala to JS un-mangled. At least the part which is displayed when logging webapi-parser Model objects in NodeJS console.
2. Mangle/minimize everything els

[2019-02-16 07:25] postatum opened #10 "Expose functionality via CLI"
Expose parse/translate/validate functionality the same way [amf does](https://github.com/aml-org/amf#command-line-usage) but try to reduce the number of arguments.

For implementation details see:
* JS: https://github.com/aml-org/amf/blob/build/develop/amf-client/js/src/main/scala/amf/Main.scala
* JS bin: https://github.com/aml-org/amf/blob/build/develop/amf-client/js/bin/amf
* Java: https://githu

[2019-03-05 07:31] #1 closed, assigned to postatum

[2019-03-05 07:31] #3 closed, assigned to postatum

[2019-03-06 00:55] jstoiko opened #13 "Add shape getter method"
- [x] implement `wap.<webapi-spec>.parse(<document>).getDeclarationByName('<RamlTypeOrOasSchemaName>')`
- [x] add tests
- [x] un-expose `.findById()`
- [x] update examples/docs (replace `.findById()`)

[2019-04-19 05:56] #13 closed, assigned to postatum

[2019-04-25 05:35] #2 closed, assigned to nobody

[2019-04-25 05:35] #4 closed, assigned to postatum

[2019-05-14 05:20] #8 closed

[2019-05-16 23:19] jarrodek opened #15 "Missing actual web example as this is node library"
The project's name suggest it is web API parser which should be able to run in the web (meaning browser). However it actually is a Node library which is not actually a web library as it cannot be executed in the browser.

There should be information about this and also an example of how to make it work in the browser. Otherwise i would suggest to change the name to something less misleading.

[2019-05-16 23:24] jstoiko commented on #15
The name refers to “Web APIs” as in “HTTP APIs”, not to web browsers. But we need a web version nonetheless, thanks for raising.

[2019-05-17 06:34] postatum opened #16 "Enforce git tag pattern"
Enforce git tag pattern in the .travis file (vx.y.z-beta, vx.y.z)

[2019-05-17 06:34] postatum opened #17 "Compare git tag to version in build.sbt"
Check that the git tag matches the version in build.sbt. Fail if it doesn't.

[2019-05-17 06:35] postatum opened #18 "Fail Maven release if version already exists"

[2019-05-17 06:37] postatum opened #19 "Missing type:array in response body demo"
[1] https://github.com/raml-org/webapi-parser/blame/master/docs/resolving.md#L66

[2019-05-17 06:39] postatum opened #20 "Fix documentation flaws (pt.1)"
[2] https://raml-org.github.io/webapi-parser/resolving
[3] https://raml-org.github.io/webapi-parser/navigating
[4] https://raml-org.github.io/webapi-parser/js/classes/_webapi_parser_.webapibaseunit.html
[5] https://a.ml/docbook/

[2019-05-17 06:40] postatum opened #21 "Suggest options of renaming AMF methods"

[2019-05-17 06:41] postatum opened #22 "Research and explain toJsonSchema method behavior"
[6] https://raml-org.github.io/webapi-parser/translating-raml-json

[2019-05-20 07:13] #16 closed

[2019-05-20 08:16] #17 closed

[2019-05-20 17:47] postatum opened #23 "Revisit JS docs"
Find something simpler in terms of look and feel

[2019-05-20 17:50] jstoiko commented on #23
- look into “minimal” theme of typedoc[1]
- look into TSDoc[2]
- any other option?

[1] https://github.com/TypeStrong/typedoc/blob/master/README.md
[2] https://github.com/microsoft/tsdoc

[2019-05-21 06:29] postatum commented on #19
Added an example https://github.com/raml-org/raml-tck/commit/38f29cd66066ad23c77a407e5073828aa6dba05e

[2019-05-21 06:35] postatum commented on #19
Also created an issue in amf https://github.com/aml-org/amf/issues/524

[2019-05-21 06:35] #19 closed

[2019-05-21 07:53] postatum commented on #22
@jstoiko

Some methods in AMF (like `toJsonSchema`) are defined as parameterless methods without parentheses which is a convention and notes that a method doesn't accept parameters and has no side effects. Here's an example of such method: [AnyShape.toJsonSchema](https://github.com/aml-org/amf/blob/e24fa66e09386a4c046cc617a5cf538f04a810b5/amf-webapi/shared/src/main/scala/amf/client/model/domain/An

[2019-05-21 07:53] #22 closed

[2019-05-22 03:14] postatum commented on #18
API to search artifact in Maven Central:

https://search.maven.org/solrsearch/select?q=a:"webapi-parser"%20AND%20g:"org.raml"%20AND%20v:"0.0.1"&wt=json

https://search.maven.org/remotecontent?filepath=org/raml/webapi-parser/0.0.1/webapi-parser-0.0.1.pom

[2019-05-22 03:34] #18 closed

[2019-05-23 20:29] #20 closed

[2019-06-19 14:08] pmdartus opened #27 "Exposing types on the parsed model objects"
Once the model is parsed and resolved, I am attempting to traverse the generated `NodeShape` tree to gather some information about the shape of our APIs. In order to properly traverse the tree, I need to differentiate between the different types of shapes (`NodeShape`, `ArrayShape`, ...). And I haven't found a proper way to do so.

My current workaround is to inspect the different object and retri

[2019-07-07 16:28] ericfreese opened #28 "How to get info for type expression from raml 1 library?"
Hi, I have a raml type library with some types defined as type expressions using other types in the file.

[code]

How can I get information on the `FooBar` type? I've tried `getDeclarationByName` but it throws saying `Declaration with name 'FooBar' not found`. Have also tried `findById` and `findByType` but those return an empty array and undefined (not sure how these differ from `getDeclarationB

[2019-07-08 06:33] postatum opened #29 "Type expressions aren't returned by getDeclarationByName"
Reported in https://github.com/raml-org/webapi-parser/issues/28

Code to test with:
[code]

[2019-07-08 06:39] postatum commented on #28
Hi.

Sorry, that's a bug.

For now what you can do is: call `model.declares`, see what Id a particular object has and then do `model.findById('theId')`.
E.g. in this case the id is (when parsed from a string):
[code]
and the call it would be
[code]
---

You can use `model.declares`. I'll check why typescript tells property doesn't exist.

[2019-07-09 04:49] ericfreese commented on #28
Thanks! Type asserting it to WebApiModule makes declares available. Why is parse() specified in typescript as returning a WebApiBaseUnit instead of a WebApiModule?

[2019-07-09 05:25] postatum commented on #28
Because WebApiBaseUnit is a parent interface to all the things that can be parsed from a RAML document.
You can discover a complete list of concrete classes (like WebApiModule) if go down a hierarchy at [WebApiBaseUnit API page](https://raml-org.github.io/webapi-parser/js/classes/_webapi_parser_.webapibaseunit).
E.g. WebApiModule is under WebApiBaseUnit -> WebApiBaseUnitWithDeclaresModel -> WebApi

[2019-07-09 18:21] ericfreese commented on #28
Ok makes sense, thanks.

Another question I've run into I'll just tack on here in this thread.

How can I get the actual values of an enum?

I'm trying the following on [runkit](https://npm.runkit.com/webapi-parser) without much success. I can get the `id` of each enum value, but can't seem to find a way to get the actual string values in the enum.

[code]

[2019-07-09 19:12] ericfreese commented on #28
Ah, ok I've found a bunch of subclasses of model.domain.DomainElement, one of which is `ScalarNode` that has a `value` property that gives me what I need.

What is the "correct" way to programatically assert in typescript (or java/scala for that matter) that a value of type model.domain.DomainElement returned by getObjectByPropertyId is actually some more specific subclass like model.domain.Scalar

[2019-07-10 07:01] postatum commented on #28
I think language specific type assertions have to be used. E.g. here's how we do it in Scala: [the code](https://github.com/raml-org/webapi-parser/blob/eafaa659b1535d6aca0aba69b78659a5e54cfe6e/shared/src/main/scala/webapi/ClientConverters.scala#L54).

Yes, but I'm afraid at this moment one would have to relate those types to DomainElement subclasses by hand.

[2019-07-11 08:12] postatum commented on #29
[x] Add tests for each case
[ ] Implement
[ ] Update ts typings
[ ] Update js examples
[ ] Update java examples
[ ] Update docs

[2019-07-12 13:56] jbizjak opened #31 "resolve function not resolving from same library twice"
In this example I have 5 files:

**test.raml:**
[code]

**library.raml** and **types.raml** which are identical:
[code]

**firstType.raml:**
[code]

**secondType.raml:**
[code]

I run the following code:
[code]

and get:
[code]
Im wondering why the second property in typeOne is not resolved despite library.raml and types.raml being identical or if I am doing something incorrectly

[2019-07-12 18:36] jbizjak commented on #31
Upon playing around with it a little more I think this actually happens during the initial parse rather than the resolve,
I ran this to see all the references without running the resolve function
[code]

the output I got was:
[code]

So I believe this is actually happening in the parsing

[2019-07-15 09:27] postatum commented on #31
Hi @jbizjak. Thank you for reporting this issue.

I would greatly appreciate if you create a simple demo project showcasing this issue. You can create a gh repo or attach zip here. Thank you!

[2019-07-15 13:49] jbizjak commented on #31
Ok, I made a repo here: https://github.com/jbizjak/webapi-parser-demo

[2019-07-17 20:01] ericfreese commented on #28
Thanks @postatum.

I have another question. How can I get the type information for a property?

Here's another sample on [runkit](https://npm.runkit.com/webapi-parser):

[code]

[2019-07-18 06:39] postatum commented on #28
Hi @ericfreese

For Foo properties:
[code]

For `Bar.thing`:
[code]

[2019-07-22 06:32] #29 closed

[2019-07-22 08:25] postatum opened #32 "Upgrade amf dependencies"
After this issue is fixed and the fix is released https://github.com/aml-org/amf/issues/542

[2019-07-22 20:52] allisonlucas commented on #28
Hi @postatum, I'm working on this with @ericfreese. It doesn't appear as though the property dataType exists on range. Is there another way to access this value?

[2019-07-24 09:12] postatum commented on #28
Original issue is fixed in a recently released version 0.2.0.
Please ask API questions/for help in new gh issues.

Thanks again @ericfreese :apple:

[2019-07-24 09:12] #28 closed

[2019-07-24 09:56] postatum opened #33 "Try to release without "sed" in publish-java-doc.sh"
During a next release, try to get rid of these lines [1] and see if build passes.
It may work since I've added those lines before hardcoding Travis `dist: trusty` (14.04). Thus, errors generated during `sbt webapiJVM/genjavadoc:doc` may not crash travis build.

[1] https://github.com/raml-org/webapi-parser/blob/cb69d08e2808a199bf318020d9077781cbddbf2e/scripts/generate-java-docs.sh#L19-L20

[2019-07-29 06:23] postatum commented on #31
Hi @jbizjak .

I've tried your example and I've figured our property "second" is not resolved because you have cyclic dependencies in your example. And as [RAML Spec says](https://github.com/raml-org/raml-spec/blob/master/versions/raml-10/raml-10.md/#raml-data-types):

If I replace [1] with [2] in `firstType.raml` the property is resolved correctly.
[1]
[code]
[2]
[code]

[2019-07-29 06:25] #31 closed

[2019-07-30 07:54] artemkaint commented on #9
+1 It would be great

[2019-07-30 19:29] peter-hazell opened #34 "ClientList[Example] is empty all the time"
The ClientList[Example] is empty all the time when I try to use request/response examples that have been parsed from the RAML. The RAML is valid and when debugging I can see that it has correctly parsed the examples, but when trying to access through the WebApi object, the example lists are always empty.

[2019-07-31 05:42] postatum commented on #34
Hi @peter-hazell . Please provide RAML doc you parse and the code snipped you parse it with.

[2019-07-31 08:43] peter-hazell commented on #34
Hi @postatum

See below:

RAML:
`#%RAML 1.0
title: Test API
version: 1.0
protocols: [ HTTPS ]
baseUri: https://test.com

mediaType: [ application/json, application/hal+json ]

/test/test-raml-service/testing/{id}:
  uriParameters:
    id:
      description: The unique test ID
      type: string
      example: ABC123
  get:
    displayName: Get test information
    description: Retrieves a test val

[2019-07-31 09:00] peter-hazell commented on #34
Hi @postatum

See below:

**RAML**
[code]

**test-schema.json**
[code]

**test-example.json**
[code]

**Code to demonstrate the issue**
[code]

[2019-07-31 10:22] postatum commented on #34
Thank you @peter-hazell
I've reported this issue in our dependency project.

[2019-07-31 10:24] peter-hazell commented on #34
Thank you!

[2019-08-02 07:23] postatum opened #35 "Add ability to pass basePath to SYNTAX.parse() methods"
See https://github.com/raml-org/ramldt2jsonschema/pull/96#discussion_r309058681

[2019-08-02 07:29] postatum commented on #35
- [ ] implement
- [ ] add tests
- [ ] test by hand
- [ ] add examples
- [ ] describe in readme
- [ ] update ts typings

[2019-08-04 23:31] wilsson opened #36 "Convert .raml to json"
How can i convert my .raml to json

using `raml-1-parser` was like that:

[code]

with `webapi-parser` how would it be?

[2019-08-05 11:10] postatum commented on #36
Hi @wilsson
You can convert *RAML Data Types* to *JSON Schema* as demonstrated in [this example](https://github.com/raml-org/webapi-parser/blob/master/examples/js/ramldt-jsonschema.js).

Also you can convert a complete API to OAS 2.0 or JSON-LD Graph like so:

[code]

[2019-08-06 23:19] wilsson commented on #36
I liked the solution for API to OAS 2.0.
But how would you just convert it to JSON without using oas20 ?

[2019-08-07 10:15] postatum commented on #36
I'm afraid there's no way to convert yaml object to json object and keep it a RAML 1.0 using webapi-parser.

[2019-08-08 05:40] postatum commented on #36
@wilsson by the way, you can also convert RAML 1.0 to JSON-LD. We've seen at least one other project replacing the JSON output of the legacy JS parser by our JSON LD output, so this may help.

It's similar to using oas20, but this time it's `wap.amfGraph`:
[code]
---
PS. If you only need a RAML doc represented as a JS/JSON object, you can also use [js-yaml](https://github.com/nodeca/js-yaml#api) w

[2019-08-09 06:25] wilsson commented on #36
I wanted a simpler structure to do something similar to `raml2html` since they use raml-1-parser and it is deprecated.

Thanks for the help

[2019-08-10 04:52] #36 closed

[2019-08-10 04:54] postatum commented on #34
Hi @peter-hazell

Your question has been answered - https://github.com/aml-org/amf/issues/546#issuecomment-519947579

Let us know if that solves your issue.

[2019-08-10 06:46] peter-hazell commented on #34
Hi @postatum apologies if I'm missing something.. examples does not seem to be part of the schema model as per the comment.. schema is of type `Shape`

[2019-08-10 07:21] postatum commented on #34
@peter-hazell from what I see from schema id, it's a [ScalarShape](https://raml-org.github.io/webapi-parser/js/classes/_amf_client_js_.model.domain.scalarshape.html) which inherits Shape as Shape > AnyShape > ScalarShape.

[2019-08-10 08:05] peter-hazell commented on #34
Ah ok yes - I have got it working now using examples from `NodeShape`.  Thanks for you help. Feel free to close this issue now.

[2019-08-10 08:06] #34 closed

[2019-08-10 08:06] postatum commented on #34
@peter-hazell you are welcome :hand:

[2019-08-20 08:26] postatum commented on #32
Upgraded amf version to 3.4.0 and fixed examples in branch `i32_upgrade_amf`. Now we wait for #37 to be merged and migrate its changes to 3.4.0 if necessary.

[2019-08-20 09:57] postatum commented on #32
PR 37 seems work fine with these changes so I just merged them in develop and in i35 branch.

[2019-08-20 09:57] #32 closed

[2019-08-28 07:21] anilmanchala07 opened #38 "PayLoad class examples() method returning empty list while parsing RAML using webapi-parser"
We are trying to parse a small RAML file using new webapi-parser. When we are trying to read an example from the response(payload)  we are getting the empty list as a response.

Please find the file content below

**#%RAML 0.8
title: Helloworld
version: 0.8
baseUri: http://www.helloworld.com/myapi/{version}

/helloWorld:
 get:
    description: returns default hello world
    responses:
          2

[2019-08-29 07:08] postatum commented on #38
Hi @anilmanchala07

Here's how you get example from your RAML doc. It's js-pseudo-code, but I believe you can easily translate it to Java.
[code]

API Doc: https://raml-org.github.io/webapi-parser/js/classes/_amf_client_js_.model.domain.payload.html#examples

[2019-08-29 07:09] #38 closed

[2019-08-29 07:09] postatum commented on #38
Let us know if you have more questions.

[2019-08-29 07:31] anilmanchala07 commented on #38
Hi @postatum

Thank you for the quick response.

Payload does not have any schema variable, we have only the schema method (schema () ).
However, schema() (of type **Shape**) does not have examples() method.

We also tried using examples() method of Payload from the responses().
Even that did not work.

Attached screen shot
<img width="972" alt="Payload Example " src="https://user-images.githubuse

[2019-08-29 07:38] postatum commented on #38
@anilmanchala07

Right, it's a variable in JS and a method in Java.

`Shape` is a parent type for a few other types. Try converting it to [`NodeShape`](https://raml-org.github.io/webapi-parser/js/classes/_amf_client_js_.model.domain.nodeshape.html) and you'll get `examples()` method.

[2019-08-29 09:42] anilmanchala07 commented on #38
@postatum
Thanks for the info. After converting to AnyShape, we are able to get the example value.

I see some other Classes which implements the Shape interface.
like
PropertyShape
AnyShape
RecursiveShape

Do we have any java documentation in what scenario which one to use? if there is cold you please help with info

[2019-08-29 09:52] postatum commented on #38
@anilmanchala07 I've created an issue to ask this question in AMF project because we use customized version of their model/API. You might want to follow discussion there: https://github.com/aml-org/amf/issues/552

[2019-08-31 03:44] anilmanchala07 commented on #38
@postatum

Could you please guide us on reading a few entries from attached RAML. like BaseUriParamaters, headers. We are able to fetch Endpoint URI parameters but  not finding a way to read Base Uri parameters.
Could you please share all reference, links or documents on this. Also, it would be helpful if share implementation comments of method and classes (even if it is other than java )

Here is

[2019-09-16 18:52] earniedyke opened #39 "Do traits resolve?"
I am trying to parse the attached RAML in which I am employing Traits but when I execute .resolve() I do not see the request payload. Are traits being resolved in the current version of the parser?

Earnie!
[api.txt](https://github.com/raml-org/webapi-parser/files/3617728/api.txt)

[2019-09-17 07:41] #35 closed

[2019-09-17 08:18] postatum commented on #33
Removed these commands from 0.3.0 release. Let's see how it goes.

[2019-09-17 10:06] postatum commented on #39
Hi Earnie!

Here's a JS code I ran [1] with a simplified example of you API doc [2]. And in my case trait was resolved.

Please answer there questions so I could help you:
1. Do you use webapi-parser with JS or Java?
2. Please provide a code snippet.
3. What do you mean by "I do not see the request payload"? Do you mean you can't access it through the "WebApi" Model?

[2019-09-17 12:32] earniedyke commented on #39
Thanks for the quick response! I am using the Java version and am trying to parse the RAML then iterate over each endpoint and get the properties for the request (if any) and any responses. Here is some code I have been using in an attempt to understand the object model:

[code]
Earnie!

[2019-09-17 12:34] earniedyke commented on #39
Please note the code I posted will not compile. I copied it in the middle of make some changes but the idea is the same.

Earnie!

[2019-09-18 05:47] postatum commented on #39
Hi Earnie.

Try doing `py.schema().properties()` instead of `py.graph().properties()`. This will give you an array of [PropertyShape](https://raml-org.github.io/webapi-parser/js/classes/_amf_client_js_.model.domain.propertyshape.html)s. These have useful fields like `name`, `range`, `range().dataType()`, etc.

[2019-09-19 06:10] postatum commented on #33
So it worked out well.

[2019-09-19 06:10] #33 closed

[2019-10-01 07:03] Nishchit14 opened #41 "Is there any way to reduce the bundle size?"
~4mb size is very huge and cost a lot for any dependencies. Is there any specific reason to have this big size or any way to reduce/remove not needed functionality?

https://packagephobia.now.sh/result?p=webapi-parser@0.3.1

![image](https://user-images.githubusercontent.com/5078921/65940829-2967f300-e447-11e9-80c9-7b406e32e190.png)

[2019-10-07 15:25] nkuehn opened #42 "Resolve named type declarations without anonymizing them into the resource endpoints?"
Hello,

we're currently using the now-deprecated previous RAML parser for our documentation stack (in conjunction with the raml2obj library).

For generating documentation we need the retain the named type declarations as such, but in a fully resolved way - i.e. keeping the type as a named type, but in its effective API surface form with traits, overlays, inheritance, libraries etc. fully resolved

[2019-10-08 07:54] postatum commented on #39
Closing as this issue seems to be resolved.

[2019-10-08 07:54] #39 closed

[2019-10-08 08:28] postatum commented on #42
Hi @nkuehn.

You can use undocumented internals for now to make resolved RAML look the way you expect to.
**Note that these internals may change at some point in the future**.

We'll consider making this an official and user-friendly API.

[code]

[2019-10-22 13:21] KoenDaelman opened #43 "How to use Nested resources when building a RAML webapi"
Hello,

I'm trying to build a RAML 1.0 API from scratch and writing it to a file using the provided example code. The issue I'm having is that I can't figure out how to add nested resources to the document. When adding an `EndPoint` to the `WebApi` object it is always treated as a top-level resource. Is this a bug or is there a way to set the parent of an `EndPoint`.

For example this is the outpu

[2019-10-25 07:50] postatum commented on #23
@jstoiko I've reworked docs generation a little in `i23_revisit_js_docs` branch. Please run `./scripts/generate-js-docs.sh` and let me know how you like it.
It now merges amf and webapi-parser declarations into one file and excludes external libs from the output.

[2019-10-25 19:13] jstoiko opened #44 "Missing README on npmjs package page"
<img width="427" alt="Screen Shot 2019-10-25 at 12 12 25 PM" src="https://user-images.githubusercontent.com/9660342/67597735-b9d0e500-f720-11e9-9da7-f98f83ce52ae.png">

[2019-10-25 20:52] jhorst11 commented on #42
@postatum using the `editing` field allows us to keep the types node but it still resolves the types in the resource endpoints.. is there a way to keep them as references?

[2019-10-25 20:58] davidturissini commented on #42
@postatum this is a great find, thank you!

It would be great if this were a first-class API. We are building client-side REST api clients that use RAML to generate normalization code. AMF is not available on Swift or Kotlin at this time, so our solution is to deliver a "merged" RAML file to these environments so we do not have to hand roll our own resolution on the client. Having a first-class su

[2019-10-25 21:48] nkuehn opened #45 "Track File inclusions or configure custom file loader"
Hi,

the previous RAML Javascript parser had the ability to configure a custom file loader which allowed us to implement hot-reloading during API documentation authoring because our implementation "knew" exactly what files were included by the parser and could trigger a reload of the right API root file.

Is there a way to achieve a similar goal?  E.g. by exposing the included paths or configuring

[2019-10-30 06:21] postatum commented on #45
Hi @nkuehn.

There's currently no way to do it using official `webapi-parser` API. Though you can define a custom file loading using internals (see code below).

We'll consider making this an official API.

[code]

[2019-10-30 15:53] hellboy81 opened #47 "Upgrading java code using deprecated raml-java-parser to webapi-parser"
subj

[2019-10-30 19:28] earniedyke opened #48 "Retrieving Annotations"
I have the annotation pojoName in the following and I need to check each type to see if it has that annotation, the trait hasErrorResponse in the below does, but I cannot find a way to do that. Is this even possible in version 0.3.2?

Earnie!

[code]

[2019-10-31 05:51] postatum commented on #48
Hi Earnie!

In this particular case you can check if the annotation is applied by doing what this JS code does.
[code]

Sadly I can't think of any generic way to see if an annotation is applied to objects. Please follow this issue to get more answers: https://github.com/aml-org/amf/issues/561

[2019-10-31 07:32] hellboy81 commented on #47
At the moment we are trying to use [soapui-raml-plugin](https://github.com/SmartBear/soapui-raml-plugin) and getting exception:

[code]

As I mentioned this problem should be or can be solved replacing deprecated `raml-java-parser` with `webapi-parser`.

Replacements for `RamlModelBuilder` and another class are needed

[code]

[2019-10-31 07:41] jstoiko commented on #47
sorry but I think you are posting this issue in the wrong repo. you might want to file it on https://github.com/SmartBear/soapui-raml-plugin

[2019-10-31 07:41] #47 closed

[2019-10-31 20:18] jarrodek opened #49 "Add a documentation for API Console resolution"
In the documentation: https://raml-org.github.io/webapi-parser/resolving.html
there are examples of working with the model but it is missing a use case of API Console that uses the resolution pipeline created for it.

[2019-11-01 06:06] postatum commented on #49
@jarrodek hi. What resolution pipeline do you mean?

[2019-11-02 23:08] jarrodek commented on #49
Like this: https://github.com/mulesoft/api-console/blob/6.0.0-preview/demo/demo-server/api/amf-service/amf-parser.js#L50
The editing pipeline was introduced for API Console to have all types resolved when model is generated.

[2019-11-04 06:39] postatum commented on #42
Sorry, there's currently no way to do that.

[2019-11-04 06:40] postatum commented on #49
Oh I see. Editing pipeline isn't currently available via webapi-parser.

[2019-11-04 09:20] HugaertsDries commented on #19
Has this issue been resolved? Because when I build an `ArrayShape` and add items to it, `type: array` is still missing.
[code]
output:
[code]

[2019-11-04 09:46] HugaertsDries opened #50 "How to constuct a Uri/Path parameter."
Hello there!

I'm trying to build a RAML 1.0 "WebApi" model from scratch. But I don't seem to be able to create Uri/Path parameters.

When I try to add the uri-parameters to the `Endpoint` class using the `withParameter()`, I get the following output.
[code]
When I try using the provided function `withUriParameter()` on the `Request` class, I get the following output.
[code]
Could it be possible t

[2019-11-04 09:56] nkuehn commented on #42
OK, thanks for all the help.  I'll consider holding both a resolved and unresolved version in memory in parallel to be able to have the named type on the resource endpoint and then find the fully resolved type in the resolved-with-editing-flag instance.

Not a beauty but the old parser worked similarly, having to hand-pick topics from the expanded/resolved/runtime perspective and the raw declarati

[2019-11-04 10:20] postatum commented on #50
Hi @HugaertsDries. I've directed your question of our dependency project. Please follow this issue to get a a response. https://github.com/aml-org/amf/issues/563

[2019-11-05 10:37] #50 closed

[2019-11-05 11:20] HugaertsDries opened #51 "Translating JSON "OneOf" to RAML DataTypes"
I'm trying to translate the following JSON schema to a RAML datatype using the provided [tutorial](https://raml-org.github.io/webapi-parser/translating-json-raml.html). But it seems to fail parsing on the JSON "[OneOf](https://json-schema.org/understanding-json-schema/reference/combining.html#oneof)" keyword. Is this not yet supported?

Input JSON:
[code]
output RAML:
[code]

[2019-11-05 22:03] nkuehn commented on #45
Thanks!  we'll give it a try once we have all the ends together that make it theoretically work at all, which is starting to look better due to your help.

[2019-11-06 06:39] postatum commented on #48
As discussion in this issue https://github.com/aml-org/amf/issues/561 goes, you should use `customDomainProperties` on a resolved model but in the case of traits (unresolved) there's no generic way to get annotations. Only the way I've described.
Hope that helps.

[2019-11-06 06:39] #48 closed

[2019-11-06 06:42] postatum commented on #45
Good. I'll close this issue for now. Feel free to reopen it if you need more help!

[2019-11-06 06:42] #45 closed

[2019-11-06 06:42] #44 closed

[2019-11-06 06:48] postatum commented on #43
Hi @KoenDaelman. Sorry it took me so long to answer your question.

Currently there's no way to produce RAML like
[code]
only
[code]

I understand it may be inconvenient, but note that both ways of defining nested resources are valid [according to RAML 1.0 spec](https://github.com/raml-org/raml-spec/blob/master/versions/raml-10/raml-10.md/#resources-and-nested-resources):

[2019-11-06 06:48] #43 closed

[2019-11-06 07:33] postatum commented on #51
Hi @HugaertsDries.
What do you expect `anyOf` to be converted to?

I'm not certain it's possible to represent `anyOf` using RAML 1.0, because

and I can't recall a way to express that behaviour in RAML (do you @jstoiko?)

You might want to use `oneOf` which is a Union Type in RAML 1.0, but there's an issue with it: https://github.com/aml-org/amf/issues/565

[2019-11-06 09:27] HugaertsDries commented on #51
@postatum  thanks for the reply!

I was only looking into representing `oneOf`. So I have not yet looked into the use case of `anyOf`.
But I'll keep a close eye on the issue you provided.

[2019-11-06 17:47] hellboy81 opened #52 "Migration guide from raml-java-parser"
Due on  [raml-java-parser](https://github.com/raml-org/raml-java-parser) DEPRECATION NOTICE migration guide is required.

And I think I am posting issue in right repo because

- Due raml-java-parser inactivity it is very hard to get answer [the same question](https://github.com/raml-org/raml-java-parser/issues/672)
- Both projects belongs to the same organization raml.org and organizations which u

[2019-11-06 21:23] TravelersInsuranceDev opened #53 "Information section of YAML not converting?"
Hello. I am a developer at Travelers Insurance and we would like to utilize your solution to convert our yaml files to raml. For the most part it seems to be working correctly, but it is not generating the information sections as follows:

info:
  title:
  description:
  version:
  contact:
    name:
    url:
    email:
host:
basePath:
produces:
  - 'application/json'
consumes:
  - 'application/js

[2019-11-08 06:59] postatum commented on #53
Hi @TravelersInsuranceDev.

Please provide:
1. Yaml file you use;
2. Output raml string you get;
3. Raml string you expect to be produced (or describe it).

Thank you!

[2019-11-08 15:43] nkuehn commented on #23
Hi, some user feedback:  The specific visual layout is verbose, that's right.  But my actual problem with the documentation is that it does not seem to contain a lot of actual documentation (i.e. explanation or definition or guidance) beyond the raw API surface.

I can't really find any descriptions beyond the occasional tautology "findByType:  Finds by Type":

In other words:  The signal-to-noise

[2019-11-08 16:35] nkuehn opened #54 "human friendly validation output"
Hi, you are providing an example how to print the validation output on the console (in JS) but the output I get for my test API is not really human readable

Deeply nested object structures with single letter properties en masse is one problem, dumping into a file is hard due to nested structures.  I'm a bit stuck but I guess there is a better way to output the validation results programmatically.

[2019-11-09 21:40] nkuehn commented on #54
update: I dug into the JSValidationResult  Scala implementation and found I was misled by the example code because there is an explicit toString()  function on the ValidationResult itself.

I'll open a separate issue concerning the example code.

[2019-11-09 21:40] #54 closed

[2019-11-09 21:42] nkuehn opened #55 "JS validation example: use toString() of validation result instead of printing the results array"
I was misled for quite a bit of time by this line in the example code:

https://github.com/raml-org/webapi-parser/blob/master/examples/js/raml10-string-validation.js#L47

It hinted that the results array ist the right place to start dumping / debugging / logging validation errors but it's only useful for programmatic access.

I suggest to just console.log the ValidationResult itself, it has a nice

[2019-11-09 22:06] nkuehn commented on #42
Hi, update from the state of my tech exploration implementation:  resolving with "editing" works fine and keeps the named type declarations.

But I found a more fundamental issue that's a variation of @jhorst11 's question:  On the endpoints, the references to the named types are completely lost even _without_  calling `resolve()`,  only parsing the RAML and then using "generateFile" already flatt

[2019-11-10 05:31] postatum commented on #23
Understood. Thanks a lot for the feedback @nkuehn !

[2019-11-10 05:38] #55 closed

[2019-11-10 05:39] postatum commented on #55
Thank you for reporting this, @nkuehn! Fixed.

[2019-11-10 06:02] postatum commented on #42
@nkuehn, yes, programmatic navigation through the model should help. When you resolve the model, names of declared types are still in there - at the places if their application. E.g.

[code]

[2019-11-11 09:03] nkuehn commented on #42
Nice, thank you so much for the fast response!

I'll brainstorm a bit how to continue since I'd like to stick with RAML as the external facade of the system since all the users and devs know it by heart.   Maybe I'll add the declared type as an overlay with annotations to the resolved type in a preprocessing step or something like that.  RAML is fortunately expressive enough to not invent a custom

[2019-11-12 09:25] nkuehn commented on #42
Update: I was sucessful in reading all the needed information but fail on performance now.  So I think we can close this issue (from my perspective) or you choose to keep it open as a tracker to make the "editable" flag official.

[2019-11-12 09:30] nkuehn opened #56 "Performance Issue with large API specs"
Hi,
we're stuck parsing, validating and resolving the full API surface of our system using this new parser (running it via the JS output).

Our API spec is public here:  https://github.com/commercetools/commercetools-api-reference

The main entry file is  `api.raml`

One problem is a recursion in the Categories API, but the performance problem remains even after commenting that recursion out in

[2019-11-12 10:18] postatum commented on #56
Hi @nkuehn.

What kind of performance issue do you have - memory, execution time?
Did you use a different parser before?

[2019-11-12 10:48] nkuehn commented on #56
It's running at 70% CPU on one core (typical node.js situation).  It's parsing and validating but I have the impression that resolving is stuck.

We do use our own EMF based parser for all our code generation and other needs, see the link in the P.S..  We did try with the previous RAML JS parser, too which had issues with the recursive situation but was able to load the spec at all after commentin

[2019-11-13 11:34] HugaertsDries opened #57 "Plain JSON schemas as Types"
Is it possible to declare plain JSON schemas in the `WebApiDocument`?

I tried to achieve this using the `SchemaShape`, but the formatting seems off.

Thx in advance!

Example of code:
[code]

Ouput:
[code]

[2019-11-14 07:19] postatum commented on #57
Hi @HugaertsDries.

By "formatting" do you mean those `\r\n` in schemas? If so, there's nothing we can do with this - `webapi-parser` does not re-parse/re-format values passed to `.withRaw()`.

[2019-11-14 08:21] postatum commented on #56
@nkuehn I see. I'm unable to resolve the doc you provided as well. I've reported this issues to our dependency lib. Please see the issue referenced above.

[2019-11-14 09:45] HugaertsDries commented on #57
I figured `.withRaw()` did not  re-parse/re-format passed values. But is there a way to achieve what I am looking for, using JSON Schemas as type declaration?

[2019-11-14 09:47] nkuehn commented on #56
thank you so much!

[2019-11-15 06:04] postatum commented on #57
@HugaertsDries please give a sample of what you want type declaration to look like.

[2019-11-15 09:05] HugaertsDries commented on #57
@postatum Something like this.
[code]

[2019-11-19 07:17] postatum commented on #57
Hi @HugaertsDries. Sorry it took me so long to answer.

I don't know how to output JSON Schema the way you need so I directed this question to out dependency lib repo. Please see an issue referenced above.

[2019-11-20 22:28] guillermolam opened #58 "RAML 1.0 to OAS 2.0 not working in JS [TypeError: b.De is not a function]"
## Goal
Expose an endpoint where a raml 1.0 payload is accepted in text/plain
and return a 201 Created with text/plain yaml string in oas 2.0

## Problem
When trying to do the following
[code]
It results in ` TypeError: b.De is not a function`

**conversion.js**
[code]
**server.js**
[code]

**package.json**
[code]
**Please help me** not sure what is going on

[2019-11-21 07:00] postatum commented on #58
Hi @guillermolam.

`WAP.WebApiParser.raml10.parse(req.body)` returns as `Promise`, so your code should look like this or the same logic but using async/await.

[code]

[2019-11-21 07:00] #58 closed

[2019-11-21 15:21] guillermolam commented on #58
Still doesn't work

[2019-11-22 06:18] postatum commented on #58
@guillermolam so does it work?

[2019-11-22 11:11] lukaslentner opened #59 "Implement OAS 3.0 Writer"
Hi,

as OAS 3.0 Support gets wider and wider it would be really helpful to be able to convert from raml 1.0 to oas 3.0

Any plans on this? Any time perspective?

Thankx
Lukas

[2019-12-10 07:22] anilmanchala07 opened #60 "How to read Uri Param ,Query Parameters type"
I am parsing an RML file with a new Webapi parser- 0.2.0. I have a requirement to read URI parameters and Query parameters along with name, default value and type of the parameter. I am able to get name and default values fro Parameter class but I am finding out a way to get parameter type (ex: String, Integer, Boolean Object. Can somebody help me on finding out parameter type?

[2019-12-10 08:27] postatum commented on #60
Hi @anilmanchala07. Please note that the latest webapi-parser version is 0.4.0.

To get a type of Parameter

[code]
where `getShapeType` is a function implemented like [this](https://github.com/mulesoft-labs/node-raml-sanitize/blob/f628263872459c20a08ed85accb49fda31dfdf78/raml-sanitize.js#L353) or [this](https://github.com/mulesoft-labs/node-raml-sanitize/blob/rework_webapi_parser/raml-sanitize.js

[2019-12-10 08:28] postatum commented on #60
If this doesn't help, feel free to reopen this issue.

[2019-12-10 08:28] #60 closed

[2019-12-10 08:48] anilmanchala07 commented on #60
@postatum  Thank you for quick response.
Do we have  any examples in java ?
Does this implementation work for 0.2.0 version ?

[2019-12-10 08:58] postatum commented on #60
We have java examples [here](https://github.com/raml-org/webapi-parser/tree/master/examples/java/src/main/java/co/acme) though here's the only snippet related to your question I could find: [code](https://github.com/raml-org/webapi-parser/blob/8fc840006d9f7b103f25bc205a2c84e320bcec65/examples/java/src/main/java/co/acme/model/Raml10Navigation.java#L104).

I think translating js code I've linked in

[2019-12-10 09:37] anilmanchala07 commented on #60
@postatum ,

I am not aware of javascript much. In below snippet code are we calling the getShape function recursively? Please correct me if I am wrong .

if (shape instanceof domain.UnionShape) {
    return shape.anyOf.map(getShapeType)
  }

[2019-12-10 09:43] postatum commented on #60
@anilmanchala07 Yes.

Here's a pseudo-code of that function logic:

[code]

[2019-12-10 10:28] anilmanchala07 commented on #60
@postatum

I really appreciate your quick responses. This helped me very much.
I thank you once again for the kind of explanation you provided.

[2019-12-10 10:41] postatum commented on #60
You are welcome @anilmanchala07 :)

[2019-12-10 11:42] BBartosz opened #61 "Types not transformed to from RAML to OAS correctly"
I have problem like when transforming RAML10 into OAS20:

When i have raml file like following:

[code]

it got expanded into swagger json like following (look at inventoryObject and someObject):

[code]

So when I have list of objects with referenced type to it then it can transform correctly. When i have object with specified typed as reference object get this:

[code]

Do i specify my raml inco

[2019-12-11 11:41] postatum commented on #61
Hi @BBartosz.

Currently I can't think of a way to achieve what you need. I've reported this issue to our dependency lib: https://github.com/aml-org/amf/issues/571

[2019-12-11 13:41] anilmanchala07 commented on #60
@postatum
Could you please guide me in reading PathParameters of an Endpoint

[2019-12-11 14:04] anilmanchala07 commented on #60
@postatum
Could you please guide me in reading path parameters. I tried with EndPoint.parameters().
Ex:  /products/{productId}
I want to get {productId} as a Parameter Object

[2019-12-12 06:43] anilmanchala07 opened #62 "Unable to get Pathparameters"
I am trying to parse an raml file and read PathParameters/UriParameters from it.
I have tried with

1. WebApi.servers().get(0).variables()
2.EndPoint.parameters()
above two method gave me null.
I am trying to read {productId} which is a PathaParam. Please find RAML content below

RAML :
=======
#%RAML 0.8
---
#===============================================================
#  Products API - RAML e

[2019-12-12 07:22] postatum commented on #62
Hi @anilmanchala07.

Here's a RAML file I used:
[code]
Here's the code I used:
[code]

This worked fine for me and I got a correct output:
[code]

PS. Next time please format your comment properly and wrap it in code block.
Thank you in advance.

[2019-12-14 06:03] postatum commented on #61
@BBartosz parsing examples are here https://github.com/raml-org/webapi-parser/tree/master/examples/java/src/main/java/co/acme/parse

[2019-12-16 12:45] idr0id opened #64 "OAS ignores x- prefixed annotations for properties with reference types"
### Issue

Using `org.raml:webapi-parser:0.4.0`.

Running code below should generate the same OAS specification as in input. Instead of that, the `x-nullable` definition of `group` property has been omitted.

### Code

**example.kt**

[code]

**swagger.yaml**

[code]

**stdout**

[code]

[2019-12-17 08:09] postatum commented on #64
Hi @idr0id.

Thanks for reporting this issue. I've reported to our dependency lib: https://github.com/aml-org/amf/issues/573

[2019-12-19 18:50] bloche opened #66 "JSON schema Draft hint not being respected"
#### Overview

When using JSON schema in RAML types the `$schema` property doesn't appear to be respected. Back in JSON schema Draft 4 the `exclusiveMaximum` property was a boolean, it was updated to be an integer in later draft revisions (see: https://json-schema.org/understanding-json-schema/reference/numeric.html#range). However when I run the webapi-parser's `validate` function on my RAML I ge

[2019-12-20 06:48] postatum commented on #66
Hi @bloche.

It's a limitation of our dependency lib `AMF`. I've created a gh issue and requested more drafts to be supported.

I'll let you know when we release a new version of `webapi-parser` with newer json schema versions supported.

[2019-12-20 17:02] bloche commented on #66
Thanks @postatum

[2020-01-10 22:40] monkey-jeff opened #67 "Cannot access some data structures when importing with ES6 style imports"
We are working on writing tests for some of the apis in webapi parser.

We are using typescript and there is a d.ts file provided in the npm package, but it seems as if it is incomplete.

When we use require typescript doesn't resolve the type definitions and that seems to work, for example the following code will work

[code]

where as when talking about this code

[code]

Looking at the d.ts fil

[2020-01-14 07:33] postatum commented on #67
Hi @monkey-jeff. I'm looking into it.

[2020-01-14 10:35] postatum opened #68 "Remove amf typings from repo"
When/if `amf-client-js` types definitions (.d.ts) are hosted at `@types/amf-client-js`, do:
- [ ] remove `js/module/typings/amf-client-js.d.ts`
- [ ] add `@types/amf-client-js` as a dependency to `js/module/package.json`

See this issue https://github.com/aml-org/amf/issues/577 for details.

[2020-01-14 10:49] postatum commented on #67
@monkey-jeff version 0.4.1 should fix this issue. Please let me know if it does.

[2020-01-14 14:12] monkey-jeff commented on #67
Seems better but not completely fixed.  Her is some working code with require
[code]
if I swap it out for an import it doesn't work and Ive tried `import webapi from "webapi-parser"` `import {default as webapi} from "webapi-parser"` and `import * as webapi from "webapi-parser" just to ensure.

It is now exposing the amf types but according to the docs here: https://raml-org.github.io/webapi-parser

[2020-01-15 07:22] postatum commented on #67
Hi again @monkey-jeff.

Thanks for pointing that out. It turns out our docs were a little outdated. I've just updated them.

Regarding import and your js snippet, here's the code I used for testing today and it worked for me. (I've tried to compile with `tsc`).

[code]

[2020-01-15 16:39] monkey-jeff commented on #67
Hi @postatum,

Thank you so much for solving this so quickly!

I have tested it and it seems to be working and also provides some more clarity around object definitions!

[2020-01-15 16:39] #67 closed

[2020-01-16 14:08] abhikt48 opened #69 "how to convert raml to OAS3.0 with java?"
Hi Team,

I am able to convert RAML to OAS2.0 with this parser + java.

Can we convert to OAS3.0 as well? Could you please provide any pointer or example for converting RAML to OAS3.0?

Thanks in advance.

Regards,
Abhishek Kumar

[2020-01-17 06:49] postatum commented on #69
Hi @abhikt48.

As you've already noticed, we are currently working on releasing OAS30 support.
To get that support early you could:
1. Clone the repo and switch to corresponding branch;
2. Build a "fat" jar as described [here](https://github.com/raml-org/webapi-parser/blob/master/CONTRIBUTING.md#generate-artifacts) or
3. Build a regular Java package and publish it to your local '.m2'.
[code]
Then

[2020-01-17 13:45] abhikt48 commented on #69
Hi @postatum ,

Thanks for update. I cloned `i59_add_oas30_support` branch and tested with both options, and having issue in both options. Please find below details.

1. package as fat JAR - i followed the above procedure to package as fat jar, but it is failling to generate FAT file. Please find attached [run_output.txt](https://github.com/raml-org/webapi-parser/files/4077044/run_output.txt).
2.

[2020-01-17 20:19] postatum commented on #69
Hi @abhikt48.

I'm no Java developer, but the latest log error looks weird. It looks as if it refers to a Scala version of the lib.
Can you please:
1. Delete the package you published locally to `.m2`;
2. Then rebuild it and republish again:
[code]

[2020-01-20 10:58] abhikt48 commented on #69
hi @postatum ,

I followed your suggetion and started getting below error.
Is it possible for you to upload/release snapshot jar+pom file? This will be a great help.

**Error**
[code]

[2020-01-27 10:03] postatum commented on #69
Hi @abhikt48 .

Sorry, I gave you a wrong commands list. Process should go like

[code]

[2020-01-27 11:09] abhikt48 commented on #69
HI @postatum

Thanks a lot for your reply. I build successfully with above command, but staterd having same typecast issue.  All the parse methods returning `Promise ` scala object instead of `CompletableFuture`

[code]
I don't know how can i solve this :(

[2020-01-29 22:58] #62 closed

[2020-01-30 10:23] hb308 opened #70 "What method do we use to extract example response payload/body?"

[2020-01-30 10:37] hb308 commented on #70
Code is in Java

[2020-01-31 06:43] postatum commented on #70
Hi @hb308. Please provide an example of your RAML and let me know what piece of it you need to access. Thanks!

[2020-01-31 06:47] postatum commented on #69
Hi again @abhikt48.

Few things:
1. Please let me know if you get the same typecasting problem when working with `Oas20` instead `Oas30`.
2. Did you try to work with promises [like so](https://github.com/raml-org/webapi-parser/blob/master/examples/java/src/main/java/co/acme/parse/Oas20Parsing.java#L18)?

[2020-01-31 07:05] #23 closed

[2020-01-31 07:20] postatum commented on #69
By the way @abhikt48, we've just released version 0.5.0 which adds OAS3 support. It should soon be available on Maven Central.
If you have an existing code that uses webapi-parser, note that 0.5.0 also adds some breaking changes.

[2020-01-31 07:22] postatum commented on #59
Hi @lukaslentner.

Sorry for not getting back to you on this issue. We've been working on this for some time and we've just released a new version (0.5.0) which adds Oas3 beta support.

Feel free to report any issues you face when using it.
Thanks!

[2020-01-31 07:22] #59 closed

[2020-01-31 09:29] #42 closed

[2020-01-31 09:30] postatum commented on #53
Closing as there was no answer for a long time. Feel free to reopen if the issue still occurs.

[2020-01-31 09:30] #53 closed

[2020-01-31 10:25] hb308 commented on #70
responses:
        200:
          body:
            application/json:
                type: campaignTypes.Campaign
                required: false
                example: !include examples/retrieveCampaign-Response.json

The response is defined in a json file but I'm guessing the parser extracts that anyway. What methods do I use to access that example?

[2020-01-31 10:25] hb308 commented on #70
Thank you!

[2020-01-31 14:30] abhikt48 commented on #69
@postatum  - Thanks a lot for information. We need to use this parser in **Mule 3.8** application.  At this moment, we are in big trouble due to dependency confliction between **Mule 3.8** and **webapi-parser**. Mule 3.8 library is older than **webapi-parser** library. So i have to use **fat jar** for this scenario.  As you know that, i have trouble in generating  **fat jar** and don't know the so

[2020-02-03 07:04] postatum commented on #69
Hi @abhikt48. We are working on this issue. I'll get back to you soon.

[2020-02-03 07:19] postatum commented on #70
Hi again @hb308.

Considering RAML with inclusion like so:

[code]

Here's how you get a string value of the example:

[code]
You can also get other values from `Example` object using its interface: [link](https://raml-org.github.io/webapi-parser/js/classes/_amf_client_js_.model.domain.example.html).

[2020-02-03 07:20] postatum commented on #70
Please close this gh issue if your issue was resolved. Thanks!

[2020-02-03 13:22] abhikt48 commented on #69
Hi @postatum ,

Thank you so much for information. I will wait for your response.

Regards,
Abhishek Kumar

[2020-02-04 14:58] hb308 commented on #70
Thank you!

[2020-02-04 14:58] #70 closed

[2020-02-11 16:46] abhikt48 commented on #69
Hi @postatum  - Could you please update on this request. We are blocked at this moment. It will be great if you can release fat jar soon.

Regards,
Abhishek Kumar

[2020-02-12 00:14] jstoiko commented on #69
@abhikt48: I am afraid we won't be releasing a "fat jar" anytime soon. Sorry if there was any confusion about that.

Alternatively, you should be able to do build a fat jar yourself by following the steps described above by @postatum. Please make sure your local environment matches the requirements defined [here](https://github.com/raml-org/webapi-parser/blob/master/CONTRIBUTING.md#requirements).

[2020-03-05 15:09] benthurley82 opened #72 "Property 'format' not supported in a RAML 1.0 shape node"
I have been using this API to convert an API spec from OAS 2.0 to RAML 1.0 like so.

`
    WebApiDocument doc = (WebApiDocument) Oas20.parse(oas20).get();
    raml10 = Raml10.generateString(doc).get();
`

However, the resulting RAML has a number of errors, one of these is that any Date type attributes have the error in the title.

e.g. OAS 2.0

`
      "properties": {
        "dateOfBirth": {

[2020-03-05 15:21] benthurley82 opened #73 "Unresolved reference when converting from OAS 2.0 to RAML 1.0"
I have been using this API to convert an API spec from OAS 2.0 to RAML 1.0 like so.

`
WebApiDocument doc = (WebApiDocument) Oas20.parse(oas20).get(); raml10 = Raml10.generateString(doc).get();
`

However, one of the types is not being converted correctly and attempting to use the RAML shows there are errors.

e.g. OAS 2.0
`
  "definitions": {
    "BaseResponse": {
      "type": "object",
      "p

[2020-03-06 08:58] postatum commented on #72
Hi @benthurley82.

Thanks a lot for reporting this issue! It looks like the issue comes from our dependency lib.
I've reported the issue to that lib team.

https://github.com/aml-org/amf/issues/583

[2020-03-06 10:03] postatum commented on #73
Hi @benthurley82.

Thanks for reporting this bug. It will be resolved when we update our dependency lib - AMF to 4.0.5. At the moment I can't give you ETA of when this will be done.

For now you can use an API called [model resolution](https://raml-org.github.io/webapi-parser/resolving.html). It flattens the model/document but fixes this issues.

It may be performed in two ways, both of which have

[2020-03-12 15:49] skingreek opened #74 "When converting RAML -> OAS2, inheritance information is lost"
I try convert my RAML to OAS2 for use it for viewing in ReDoc project.
Result file not contains valid information about inherent relationship:
**User is Person** and **Employee is Person**

I use simple code:

[code]

`discrTest.raml` contains:

[code]

As result `oas2_out.yaml` contains:

[code]

But i expect like this:

[code]

[2020-03-13 12:04] postatum commented on #74
Hi @skingreek.

Sorry for the inconvenience. The issue you face come from a dependency lib we use. I've reported it to that lib team.

If it helps, you can "resolve" your RAML document and then generate OAS.

Docs on resolution: https://raml-org.github.io/webapi-parser/resolving.html
Example [here](https://github.com/raml-org/webapi-parser/blob/2df4635c3ff7b8484ff23bd5d0b16ba71c3677ec/examples/jav

[2020-03-23 17:08] #52 closed

[2020-04-08 21:38] yungcheng commented on #9
It seems you just need to provide a build time configuration to do `fastOptJS` instead of `fullOptJS`. Previously the webapi-parser was using `fastOptJS`
https://github.com/raml-org/webapi-parser/commit/efe220d502bb81122de5ea7137cf6cba1f301dec

[2020-04-09 06:57] postatum commented on #9
Hi @yungcheng. Thank you for helping us address this issue!
Though, simply switching `fullOptJS` to `fastOptJS` doesn't fully fix the issue, because `fastOptJS` adds too much weight to the output JS file (it explodes to 20.1mb from 3-4mb).

Ideal solution should:
1. Leave exported Scala names un-mangled. At least the part which is displayed when logging webapi-parser Model objects in NodeJS consol

[2020-04-09 14:43] yungcheng commented on #9
Scala js uses Google Closure Compiler, in order to do full optimization but keep the function name intact, you’d need to have the ability to configure how closure compiler is run. Also if I understand correctly, what you want is not an artifact for development time but a prod artifact with functions unobfuscated?

[2020-04-13 06:16] postatum commented on #9
Correct. I want WebApi Model functions and properties names unobfuscated when logging object in a Nodejs console.

[2020-05-18 18:27] jstoiko opened #77 "Migration guide from datatype-expansion"
We need a way for people to migration from `datatype-expansion` which is now deprecated.

- [ ] make sure [all `datatype-expansion` tests](https://github.com/raml-org/datatype-expansion/tree/master/test/fixtures) can produce the same/similar outputs using `webapi-parser`
- [ ] write a new [set of code examples](https://github.com/raml-org/webapi-parser/tree/master/examples)
- [ ] write a new [docu

[2020-06-16 19:43] xximjasonxx opened #80 "Bug: Parser incorrectly translates `protocols` to invalid OAS property Schemas"
**Library version used**
E.g. "^0.4.0"

**Language library used with**
JavaScript

**Describe the bug**
When parsing RAML file specifying `protocols` property the corresponding OAS JSON file contains schemes which is not a valid property for the Specification.

**Code that causes a bug**
[code]

**Input**
RAML Input
[code]

**Actual behaviour/output/error**
JSON Output from above example
[code]

*

[2020-06-17 07:52] postatum commented on #80
Hi @xximjasonxx.

Thank a lot for reporting this issue!

It looks like a bug of our dependency library. I've reported the bug in the dependency lib repo: https://github.com/aml-org/amf/issues/597

[2020-06-19 07:22] postatum commented on #69
Closing as the issue is stale.

[2020-06-19 07:22] #69 closed

[2020-06-19 07:23] postatum commented on #49
This feature was implemented in https://github.com/raml-org/webapi-parser/pull/78 and should be released in some time.

[2020-06-19 07:23] #49 closed

[2020-06-19 07:47] postatum commented on #66
Hi @bloche.

Looks like our dependency lib now supports JSON Schemas up to draft 7. We are currently working on updating our lib as well. I'll let you know when the new version is available.

[2020-06-19 07:54] postatum commented on #64
Hi @idr0id.

According to this commend https://github.com/aml-org/amf/issues/573#issuecomment-642725505, usage of the `x-` property in your example is incorrect:

Thus I'm closing this issues. Feel free to reopen it if you have more questions.

[2020-06-19 07:54] #64 closed

[2020-06-19 08:29] postatum commented on #61
Hi @BBartosz.

According to this comment https://github.com/aml-org/amf/issues/571#issuecomment-640761346, it looks like the output you get (`x-amf-merge` properties) is expected because:

[2020-06-19 08:30] postatum commented on #61
I'm closing this issue for now. Feel free to reopen it if you have more questions.

[2020-06-19 08:30] #61 closed

[2020-06-19 08:34] postatum commented on #56
Hi @nkuehn.

According to the answer I got (https://github.com/aml-org/amf/issues/567#issuecomment-639677404), our dependency lib performance has increased dramatically since the time this issue was reported.

We are currently working on updating our dependencies to the latest version. I'll let you know when the new version is available so you could test again.

[2020-06-19 09:06] nkuehn commented on #56
Thanks for the update @postatum !   We've switched to our own parser implementation in the meanwhile because we use it intensively for code generation too and have the knowledge in house.  Nevertheless I'm tracking progress here, the topic will remain relevant.

[2020-06-20 01:35] bloche commented on #66
@postatum That's great to hear, thanks for keeping me informed.

[2020-06-22 05:12] postatum commented on #56
I see. Is your parser open-sourced?

[2020-06-22 07:02] nkuehn commented on #56
Yes, it's not as productized or marketed though.
 * https://github.com/vrapio/rest-modeling-framework  (Eclipse EMF based RAML model)
 * https://github.com/commercetools/rmf-codegen  (our code generator on top of it)

It's JVM-based, so usage in javascript projects is not as convenient but by building on EMF we don't have to spend a lot of time in the low-level nitty gritty of metamodeling etc.

[2020-08-06 12:38] mmmveggies commented on #9
This library feels unusable. I can't inspect the output of the library and the [type definitions](https://github.com/raml-org/webapi-parser/blob/master/js/module/typings/amf-client-js.d.ts#L594) don't match [the example](https://github.com/raml-org/webapi-parser/blob/master/examples/js/raml10-model-navigation.js).

How are people browsing their RAML models like this? Are there just known/expected

[2020-08-08 21:56] Serdarrr opened #81 "Question: Possible to exclude endpoints when converting OAS > RAML?"
**Library version used**
0.5.0

**Language library used with**
Java

**Description**
Hi great plugin, but im having a hard time figuring out on how to achieve the following and I appreciate if you could help me out.

I would like to parse a OpenApi 3 JSON document (using Springdoc) and output a single API endpoint in a RAML file, because the system I'm using displays a swagger documentation based

[2020-08-10 07:30] postatum commented on #81
Hi @Cytor!

Regarding the endpoints question. After you resolve the parsed document with `Raml08.resolve`, here's what you could do:
* Get a list of endpoints with [resolved.endPoints()](https://raml-org.github.io/webapi-parser/js/classes/_amf_client_js_.model.domain.webapi.html#endpoints) (though `resolved` would have to be `WebApiDocument`);
* Pick endpoints you like into a separate array/list b

[2020-08-10 18:37] Cytor commented on #81
Hi @postatum,

Thank you for your reply and guidance, I managed to get it to work 👍

[code]

[2020-08-10 19:40] Cytor commented on #81
I have noticed that when generating file for Raml 0.8, the parameter descriptions are not present, but they are in Raml 1.0. Do I need to enable for Raml08 in order to see the descriptions or is it a bug?

[2020-08-11 06:37] postatum commented on #81
Hello again.

Can you provide more details please? In particular, input and RAML 0.8, RAML 1.0 output?

[2020-08-11 06:51] Cytor commented on #81
Hello, here it is. As you can see below, description is missing for the parameter name def in RAML 8.0.
About amf prefixes, is there a way to remove it before generating RAML file? Because the CMS I'm using, does not recognize these amf variables and sees them as invalid, but If I remove them manually it becomes valid.

**Input**
[code]
**Output RAML 0.8**
[code]

**Output RAML 1.0**
[code]

[2020-08-11 07:15] postatum commented on #81
@Cytor, sorry, I don't understand what's happening in your input - it seems to be too framework-ish.

I guess you try to manually add a query param. If so, I think it should be done through [Request.withQueryParameters()](https://raml-org.github.io/webapi-parser/js/classes/_amf_client_js_.model.domain.request.html#withqueryparameters). Request is at `endPoints[index].operations[index].request` (or

[2020-08-11 07:49] Cytor commented on #81
@postatum Haha, my bad. Im using springdoc (swagger 3) for generating a OpenApi 3 doc in springboot framework. But this isn't relevant. Actually the OpenApi Json input is as followed for the API endpoint users that's being converted to Raml output. As you can see in the /api/users path, the parameter _def_ has a description but I don't see it when converting to Raml08.

**Input**
[code]

[2020-08-11 08:52] postatum opened #82 "OAS 3 query parameter description is lost in RAML 0.8"
Hello, here it is. I'm also using the code I mentioned in my previous reply for parsing (and switched between Raml08 and Ram10 classes). As you can see below, description is missing for the parameter name def in RAML 8.0.
About amf prefixes, is there a way to remove it before generating RAML file? Because the CMS I'm using, does not recognize these amf variables and sees them as invalid, but If I

[2020-08-11 08:53] postatum commented on #82
Reported to amf in https://github.com/aml-org/amf/issues/581

[2020-08-11 08:56] postatum commented on #81
@Cytor thanks for the code. It seems to be a bug in our dependency lib. I've reported the issue and moved further bug discussion here https://github.com/raml-org/webapi-parser/issues/82.

Regarding amf-prefixed fields: I can't think of a way other than parsing resulting YAML string with some YAML parser and editing fields' names manually.

[2020-08-11 11:05] Cytor commented on #81
@postatum I see. I will wait for it to resolve. I was able to locate the fields through the WebApi object and remove them.

[2020-08-12 18:25] Serdarrr opened #83 "Request: Upgrade to newest AMF version, current AMF version has a bug regarding TagModel"
**Is your feature request related to a problem? Please describe.**
Hi, can you guys upgrade to a more recent version of the AMF framework. Current version in webapi-parser has a bug when trying to clear / remove the tags field inside TagModel. Glady this issue has been resolved in AMF version 4.12, but raml webapi-parser uses version 4.0.3.

See issue in AMF: [#582](https://github.com/aml-org/amf/

[2020-08-13 07:17] postatum commented on #83
Hi @Serdarrr.

I'm sorry you've faced a bug using our lib.

We are working on updating AMF dependency version. It takes time though because AMF API changed at some point, which in turn broke one of our lib features and isn't easily fixable.

I'll let you know when the new version is available.

[2020-09-03 14:08] plenderyou opened #85 "The ability to configure resource loaders"
I have an issue when I'm trying to validate some raml with associated JSON schema. Inside the schema there is a reference ($ref) to another schema using an id, the id is an http url but it's not available publicly because of security concerns.

I'd like to be able to pre-register the id against a file which will avoid the network lookup.

In ajv for example you can add the -r flag to register a se

[2020-10-21 13:10] sch111 opened #86 "Bug: Unresolved Reference while validating Raml 08 contract file if it has external schemas"
**Library version used**
E.g. "0.5.0"

**Language library used with**
Java

** Description **
I was trying to validate the Raml 08/ Raml 10 contract file which were having external schema references in the same directory.

**Input**
Raml file contents which are having schema and example externally. First parsing the file using parse() method and then validating it using validate() method.

**Expec

[2020-11-03 12:26] postatum commented on #82
https://github.com/aml-org/amf/issues/581#issuecomment-693564874

[2020-11-03 12:28] postatum commented on #82
Related to #80

[2020-11-03 12:29] postatum commented on #81
I'm closing this issue as it's inactive. Feel free to reopen it if needed.

[2020-11-03 12:29] #81 closed

[2020-11-03 12:34] postatum commented on #86
Hi @sch111.

Please provide a code snippet so we could reproduce the bug.

Thanks!

[2020-11-12 09:12] namitrk97 opened #88 "Bug: Servers are lost when resolving an OAS30 yaml file"
**Library version used**
0.5.0

**Language library used with**
Java

**Describe the bug**
After resolving an OAS3 YAML file using OAS30.resolve(), the "servers" seem to get lost. However it does not happen with OAS2/RAML

**Code that causes a bug**
Should be wrapped in code blocks when possible.

**Input**
[code]

**Actual behaviour/output/error**
webApi.servers is empty.

**Expected behaviour/out

[2020-11-16 10:17] namitrk97 opened #89 "Question: How to get plain JSON schema without example?"
**Library version used**
 "0.5.0"

**Language library used with**
Java

**Describe the issue**
Is there a way to get JSON Schema from RAML/OAS without the example added to it after parsing?
Right now, I am using toJsonSchema(), it gives a JSON schema with the example appended to the schema.

'''
NodeShape schema = (NodeShape) api
      .endPoints().get(0)
      .operations().get(0)
      .response

[2020-11-19 07:17] postatum commented on #89
Hi @namitrk97. You could use [this method](https://raml-org.github.io/webapi-parser/js/classes/_amf_client_js_.model.domain.payload.html#withexamples) to override examples array with an empty array:

E.g.
[code]

PS. I can't tell what exact Java type `<empty_array_here>` should be. Try List, Array or something else.

[2020-11-19 10:20] sch111 commented on #86
Hi @postatum ,
Thanks for your reply. My issue got resolved. That was basically beacause of the conflicts between the dependencies in this parser and the ones that I already have. I excluded those dependencies and it worked like a charm.
Thanks!

[2020-11-19 10:20] #86 closed

[2020-11-19 10:22] postatum commented on #86
Cool. Glad to hear that!

[2020-11-23 08:39] postatum commented on #89
Closing for now. Feel free to reopen if you still have questions.

[2020-11-23 08:39] #89 closed

[2020-12-07 09:17] gottschd opened #90 "Question: How to traverse all properties of a data type and its sube types recursively from top to bottom"
**Library version used**
0.5.0

**Language library used with**
Java

**Describe the issue**
I want to fetch all properties of a root data type and all its sub data types recursively from top to bottom. However,
when loading and resolving the root file, cannot traverse to the bottom of the hierarchy.

Assume the following root data type raml file (excerpt):
[code]

The MyCompany-1.0.raml (exerpt):

[2020-12-18 09:43] namitrk97 commented on #89
Thank you @postatum

[2021-01-28 22:09] #57 closed

[2021-04-06 01:34] kavinho opened #91 "Bug: update ajv dependency"
**Library version used**
 "0.5.0"

**Language library used with**
JavaScript

**Describe the bug**
This lib depends on   ajv:6.5.2 , which is vulnerable prototype pollution attack.
https://sca.analysiscenter.veracode.com/vulnerability-database/security/prototype-pollution/javascript/sid-25893

**Expected behaviour/output**
Can we update the dependency to 6.12.3 or later.

[2021-04-09 23:08] ullgren opened #92 "Bug: ..."
**Library version used**
E.g. "0.5.0"

**Language library used with**
Java

**Describe the bug**

Errors resolving dependencies when building on a clean machine.

Building the Java examples end in a 401 error when resolving the transient dependency com.github.scopt:scopt_2.12:3.7.0

**Code that causes a bug**

The `examples/java` code in the repo.
Same problem with master and tag v0.5.0

**Input**

[2021-04-12 13:14] chrysophylax commented on #92
Weird, I can build the transitive dependency chain _org.raml:webapi-parser:0.5.0 > com.github.amlorg:amf-webapi_2.12:4.0.3 > com.github.scopt:scopt_2.12:3.7.0_  without problems after adding both the mulesoft and jitpack maven repositories on a blank machine although I am not using gradle but maven / clojure tools.deps.

Per [Gradle/RepositoryHandler](https://docs.gradle.org/current/dsl/org.gradle

[2021-04-12 14:33] ullgren commented on #92
Yes using webapi-parser in my own project work as expected.

This error only seems to occur when building the examples project within this repository.

[2021-06-28 21:46] aramdov commented on #92
I am having a similar issue when attempting to build the example project as well as importing the decencies into a separate project.

My build output says this:
`Could not GET 'https://jitpack.io/com/github/scopt/scopt_2/12/root_2.12/3.7.0/root_2.12-3.7.0.pom'. Received status code 401 from server: Unauthorized`

Even with commenting out the specific `implementation com.github.scopt...` in depende

[2021-07-27 08:12] Purukitto opened #93 "Question: How to access request type"
**Library version used**
0.5.0

**Language library used with**
Java

**Describe the issue**
I am unable to find a method to access the type of request defined in the raml file

**Input you have issues with**
Below is the relavent section of RAML file
[code]

**Code you have issues with**
After going through the documentation, I tried using `operation.request().payloads().get(0).mediaType().value()

[2021-07-27 08:15] Purukitto commented on #93
Any sort of help/insight will be appreciated, I have been stuck at this for a long time with no success till now

[2021-11-04 11:06] RajatKumar-git opened #94 "Question: How to create DataType files"
I am trying to create raml DataType but it seems we do not have the option for it because mostly it is creating Library.
so do you have any option to create DataType alone ?

[2021-12-12 23:56] jgsuess opened #96 "Bug: Basepath Urls containing spaces lead to parser failure due to failed resource load."
**Library version used**
amf-core_2.12-4.1.20.jar

**Language library used with**
Java

**Describe the bug**

Basepath Urls containing spaces lead to parser failure due to failed resource load.

**Code that causes a bug**
[code]
throws `amf.core.remote.FileNotFound` from `ResourceLoader:31`

**Input**
Any path containing spaces

**Actual behaviour/output/error**

throws `amf.core.remote.FileNotFou

[2021-12-12 23:56] jgsuess commented on #96
Bug probably needs to be propagated to library project.

[2022-03-06 20:49] vipulvaghela86 opened #98 "How to get securitySchemes for oauth_2_0"
**Library version used**
0.5.0

**Language library used with**
Java

**My RAML file content like below**
securitySchemes:
  oauth_2_0:
    description: |
      Dropbox supports OAuth 2.0 for authenticating all API requests.
    type: OAuth 2.0
    describedBy:
      **headers:**
        Authorization:
          description: |
             Used to send a valid OAuth 2 access token. Do not use

[2022-03-06 20:49] uip-robot-zz commented on #98
Git2Gus App is installed but the `.git2gus/config.json` doesn't exist.

[2022-03-17 02:48] railsstudent commented on #91
Same here: https://www.npmjs.com/package/nestjs-asyncapi

[2022-03-22 14:14] miho1109 opened #99 "Question: Why i can't add this lib to my project ?"
**Library version used**
E.g. "0.5.0"

**Language library used with**
Java

**Describe the issue**
I can't add this lib to my project. I try with both Gradle and Maven but its still not working. The error with Gradle is: "Could not resolve com.github.scopt.scopt_2.12:root_2.12:3.7.0." and the error with Maven is: "java: cannot access amf.client.model.document.Module
  class file for amf.client.mod

[2022-03-22 14:14] uip-robot-zz commented on #99
Git2Gus App is installed but the `.git2gus/config.json` doesn't exist.